:root {
    --size-font: 16px;
    --size-line-height: calc(var(--size-font) * 1.42857);
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

    --color-white: #fff;
    --color-text-primary: #1d2039;
    --color-text-secondary: #acaeba;
    --color-text-unactive: #868e99;
    --color-element: #7700ea;
    --color-background-primary: #fff;
    --color-background-secondary: #f3f5fb;
    --color-separator: #f5f6f7;
}
