.c-data-structure-list {
    list-style: none;
    background-color: var(--color-white);
    border-radius: 6px;
    padding: 0 12px;
}

.c-data-structure-list__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 12px 0;
    border-bottom: 1px solid var(--color-separator);
}

.c-data-structure-list__item-content {
    display: flex;
    align-items: center;
}

.c-data-structure-list__item-box {
    width: 40px;
    height: 40px;
    border-radius: 6px;
}

.c-data-structure-list__item-text-name {
    font-size: 1.25rem;
}

.c-data-structure-list__item-text-level {
    font-size: 0.875rem;
    vertical-align: bottom;
    color: var(--color-text-secondary);
}

.c-data-structure-list__item:nth-child(1) .c-data-structure-list__item-box {
    background: linear-gradient(to right, #b993d6, #8ca6db);
}

.c-data-structure-list__item:nth-child(2) .c-data-structure-list__item-box {
    background: linear-gradient(to right, #141e30, #243b55);
}

.c-data-structure-list__item use {
    fill: var(--color-text-primary);
}
