.c-segmented-controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.c-segmented-controls__control {
    width: 100%;
    padding: 6px;
    text-align: center;
    font-size: 0.875rem;
    color: var(--color-text-unactive);
    background-color: var(--color-white);
}

.c-segmented-controls__control:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.c-segmented-controls__control:not(:last-child) {
    border-right: 2px solid var(--color-background-secondary);
}

.c-segmented-controls__control:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.c-segmented-controls__control.is-selected {
    color: var(--color-text-primary);
}
